# Flutter app .gitignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
!.gitkeep

